#root {
  box-sizing: border-box;
  max-width: 1280px;
  text-align: center;
}

body {
  width: 100vw;
  box-sizing: border-box;
}

main {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto !important;
  flex-grow: 1;
  text-align: center;
  padding: 2rem;
  width: 100vw;
  min-height: calc(100vh - 190px);
}


footer {
  display: flex;
  flex-direction: column;
  background-color: #1a1a1a;
  color: white;
  text-align: center;
  padding: 1rem !important;
  width: 100vw;
  box-sizing: border-box;
}

footer p {
  margin: 0;
  font-size: 1rem;
  text-align: center;
}
